@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i");
body, html, h1, h2, p, div, input {
  font-family: 'Roboto', sans-serif; }

body, label {
  color: #888; }

footer [type='text'], footer [type='password'], footer [type='date'], footer [type='datetime'],
footer [type='datetime-local'], footer [type='month'], footer [type='week'], footer [type='email'],
footer [type='number'], footer [type='search'], footer [type='tel'], footer [type='time'], footer [type='url'], footer [type='color'], footer textarea {
  color: white; }

:focus {
  outline: 0; }

.row {
  max-width: 70rem; }

.button {
  margin-bottom: 0; }

.menu > li {
  color: #23AA58; }
  .menu > li > span {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1; }
  .menu > li i {
    margin-right: 0.25rem; }
.menu .social-media a {
  padding: 0.7rem .65rem; }
.menu .social-media:nth-child(2n) {
  border-right: 1px solid #EEE; }
.menu .button-contact-menu i {
  color: #666; }
.menu .fa-facebook {
  color: #3b5998; }
.menu .fa-twitter {
  color: #1dcaff; }

.top-header {
  background: white;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #EEE; }
  .top-header ul {
    background: white; }
  .top-header .row {
    padding-top: 10px;
    padding-bottom: 10px; }
  .top-header .row:first-child {
    border-bottom: 1px solid #EEE; }

.main-menu {
  margin: 1rem 0 0 0; }
  .main-menu li {
    position: relative; }
  .main-menu > li a {
    text-transform: uppercase;
    color: #666; }
    .main-menu > li a:hover {
      color: #23AA58; }
  .main-menu .input-search {
    position: absolute;
    right: 0;
    width: 350px;
    top: 69px;
    padding: 10px;
    background: black; }

.submenu.is-dropdown-submenu > li a {
  font-size: .9em;
  text-transform: initial; }

footer {
  padding: 2.8rem 0;
  background: #2B2F3A;
  color: white; }
  footer input, footer textarea {
    background: none !important; }
  footer .menu a {
    color: white; }
    footer .menu a:hover {
      color: #23AA58; }

.m-b {
  margin-bottom: 20px; }

.m-l {
  margin-left: 20px;
  margin-right: 0 !important; }

.title-green {
  color: #333;
  border-bottom: 1px solid #23AA58;
  display: table;
  margin: 0 auto 30px;
  padding: 0 20px;
  position: relative; }
  .title-green::before {
    content: "";
    display: block;
    border-bottom: 1px solid #23AA58;
    border-right: 1px solid #23AA58;
    background: white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    position: absolute;
    left: 49%;
    bottom: -7px; }

.title-white {
  border-bottom: 1px solid white;
  display: table;
  margin: 0 auto 30px;
  padding: 0 20px;
  position: relative; }
  .title-white::before {
    content: "";
    display: block;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    background: #23AA58;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    position: absolute;
    left: 49%;
    bottom: -7px; }

.green-brand {
  color: #23AA58; }

.h1-text {
  font-size: 1.6em;
  color: #333;
  font-weight: bold;
  margin: 0 0 20px 0;
  text-transform: uppercase; }
  .h1-text::after {
    content: "";
    border-bottom: 3px solid #23AA58;
    width: 10%;
    height: 1px;
    display: block; }

.h2-text {
  font-size: 1.4em;
  color: #333; }

.h3-text {
  font-size: 1.4em;
  color: #333;
  border-bottom: 1px solid; }

.h3-list {
  font-size: 1.2em;
  font-weight: bold; }

.price {
  font-weight: bold;
  color: #23AA58; }

.categories {
  margin: 0 0 40px 0; }
  .categories .title-categories {
    text-transform: uppercase;
    border-bottom: 1px solid;
    font-size: 1.4em;
    margin: 0 0 20px 0; }
  .categories li a, .categories li span {
    padding-left: 0;
    padding-right: 0;
    color: #888; }
    .categories li a:hover, .categories li span:hover {
      font-weight: bold;
      color: #23AA58; }

.product {
  box-shadow: 0px 0px 2px #BBBBBB; }
  .product .description-product {
    padding: 0.9375rem; }
    .product .description-product .h2-product {
      font-size: 1em; }

.select-product > * {
  height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 30px;
  margin: 0;
  border: 1px solid #EEE; }
.select-product input {
  box-shadow: none;
  text-align: center; }
.select-product .select-number {
  color: #23AA58;
  cursor: pointer;
  font-size: 0.8rem; }
  .select-product .select-number:hover {
    color: #666; }

.table-price .tr-table {
  border-bottom: 1px solid #EEE;
  padding: .5rem 0; }
  .table-price .tr-table:first-child {
    border-width: 2px; }
  .table-price .tr-table:last-child {
    margin: 1rem 0 0 0;
    border-top: 1px solid #EEE; }

.table-text .tr-table {
  border-bottom: 1px solid #EEE;
  padding: .5rem 0; }
  .table-text .tr-table div:last-child {
    border-left: 1px solid #EEE; }

.reveal-overlay {
  background: rgba(0, 0, 0, 0.85); }

.modal-page {
  width: 450px; }
  .modal-page .title-modal {
    font-size: 1.6em;
    background: #23AA58;
    color: white;
    font-weight: 400;
    text-align: center;
    margin: -1rem -1rem 2rem;
    padding: .5rem 0; }
  .modal-page .button {
    font-size: 1.1rem; }
  .modal-page .close-button {
    color: white; }
    .modal-page .close-button:hover {
      color: rgba(255, 255, 255, 0.6); }
  .modal-page .input-group-label:first-child {
    width: 3rem; }

.gallery-modal {
  background: none;
  border: none;
  padding: 0; }
  .gallery-modal .orbit-container {
    height: auto !important; }
  .gallery-modal .close-button {
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    right: 2px;
    padding: 0 1rem .6rem;
    color: white; }
    .gallery-modal .close-button:hover {
      color: #23AA58; }

.gallery-home .orbit-caption {
  color: #fefefe;
  right: 100px;
  width: 400px;
  height: 200px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: table;
  background: white;
  border-right: 5px solid #23AA58; }

.banner-home img {
  width: 100%; }

.title-index {
  color: #333; }

.green-brand {
  color: #23AA58; }

.section-index {
  padding: 2.8rem 0; }

.features {
  background: #23AA58; }
  .features h2 {
    color: white; }
  .features .menu li {
    min-height: 160px; }
    .features .menu li > a {
      color: white; }
  .features i {
    font-size: 5rem;
    margin: .5rem 0 0; }

.main-products {
  background: #f9f9f9; }
  .main-products i {
    font-size: 5rem;
    margin: .5rem 0 0; }

.welcome-text {
  background: url("../src/home/welcome.png") no-repeat;
  background-position: -100px 0; }

.suppliers .columns {
  border: 1px solid #EEE;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: 119px;
  position: relative; }
  .suppliers .columns img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: table; }

.wrapper-general {
  margin-top: 40px; }

.description-product p {
  font-size: .9rem;
  line-height: 1.2rem; }

.img-statics {
  padding: 5px;
  border: 1px solid #EEE;
  margin-right: 0.9375rem; }

.profile [type='text'], .profile [type='password'], .profile [type='date'],
.profile [type='datetime'], .profile [type='datetime-local'], .profile [type='month'],
.profile [type='week'], .profile [type='email'], .profile [type='number'], .profile [type='search'],
.profile [type='tel'], .profile [type='time'], .profile [type='url'], .profile [type='color'], .profile textarea {
  background: #F9F9F9;
  box-shadow: none; }
.profile label {
  font-size: 1em; }

/*# sourceMappingURL=main.css.map */
