//Cart

.list-products{
	border-bottom: $border-color;
	overflow: hidden;
	padding: 0 0 10px 0;
	margin: 0 0 20px 0;
	.description{
		p{
			margin: 0;
		}
	}
	.erase-article{
		font-size: 1.4em;
		margin: 5px 0 0;
		&:hover{
			color: $primary;
		}
	}
}

.cart{
	margin: 0 0 40px 0;
	ul{
		border-bottom: $border-color;
		padding: 5px 0;
		margin: 0;
		li{
			display: inline-block;
			list-style: none;
			width: 49%;
			&:last-child{
				text-align: right;
			}
		}
	}
}


// Step 2

.section-step{
	padding: 20px;
	margin: 0 0 20px 0;
	@extend .box-shadow;
	&:last-child{
		margin: 0;
	}
	.subsection-step{
		width: 95%;
		margin: 20px auto 0;
		&::before, &::after {
		    display: table;
		    content: ' ';
			box-sizing: inherit;
		}
		&:last-child{
			margin-bottom: 0;
		}
		&::after{
			clear: both;
		}
	}
	.title-step{
		margin: 0 0 20px 0;
		span{
		    vertical-align: middle;
		}
		.badge{
			margin: 0 10px 0 0;
			vertical-align: middle;
			font-size: 1rem;
		}
	}
	form{
		label{
			font-size: 1rem;
		}
	}
}



.select-option{
	.option-send{
		border: $border-color;
		padding: 15px;
		cursor: pointer;
		font-size: 1rem;
		width: 100%;
		position: relative;
		margin: 0;
		transition: color 0.25s ease-out, color 0.25s ease-out;
		transition: border-color 0.25s ease-out, color 0.25s ease-out;
		@extend .button-shadow;
		&::before{
			content: "";
			width: 17px;
			height: 17px;
			display: inline-block;
			vertical-align: middle;
			border-radius: 100%;
			border: 1px solid #CCCCCC;
			margin: 0 10px 0 0;
		}
		&:hover{
			border-color: $primary;
			color: $primary;
			&::before{
				border-color: $primary;
			}
		}
	}
	input{
		margin: 0 20px 0 0;
		display: none;
	}
	.active{
		border-color: $primary;
		color: $primary;
		&::before{
			border-color: $primary;
		}
		&::after{
			content: "";
		    width: 11px;
		    height: 11px;
		    display: block;
		    background: $primary;
		    position: absolute;
		    margin: -18px 0 0 3px;
		    border-radius: 100%;
		}
	}
}


.select-addres{
	border-bottom: $border-color;
	margin: 0 0 20px 0;
	padding: 0 0 10px 0;
	p{
		margin: 0;
	}
	i{
		margin: 4px 10px 0 0;
		font-size: 1.7rem;
		color: #AAA;
	}
	label{
		width: calc(100% -40px);
		font-size: 1rem;
		padding: 0 0 0 40px;
		position: relative;
		&::before{
			content: "";
			width: 17px;
			height: 17px;
			float: right;
			border-radius: 100%;
			border: 1px solid #BBBBBB;
			position: absolute;
			left: 10px;
			top: 7px;
		}
	}
	input{
		display: none;
	}
	&.active label{
		&::before{
			border-color: $primary;
		}
		&::after{
			content: "";
			width: 11px;
			height: 11px;
			display: block;
			background: $primary;
			position: absolute;
			left: 13px;
			top: 10px;
			border-radius: 100%;
		}
	}
}
