/* *********************************************************************************
*	Author: Mariana Herrera
********************************************************************************* */

/*  ================== RESET ================= */
.main-menu{
	li{
		position: relative;
	}
	& > li{
		a{
			text-transform: uppercase;
			color: $gray-medium;
			&:hover{
				color: $primary;
			}
		}
	}
}


/*  ================== HEADER ================= */
.navigation{
	border-bottom: $border-color;
	position: relative;
	box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
	position: relative;
	z-index: 1;
}

.nav-costumer{
	background: $primary;
	height: 60px;

	.menu{
		li > a{
			color: white;
			&:hover{
				color: rgba(255,255,255,0.6);
			}
		}
		& > li{
			color: white;
			& > span, & > a{
				color: white;
				display: block;
			    padding: 0 1rem;
			    line-height: 60px;
			}
			i{
				margin-right: 0.25rem;
			}
		}
		.social-media{
			a{
				width: 44px;
				padding: 0;
				background: rgba(255,255,255,0.3);
				font-size: 1.4rem;
				text-align: center;
				&:hover{
					background: white;
					color: $primary;
					i.fa-facebook{
						color: #3b5998;
					}
					i.fa-twitter{
						color: #1dcaff;
					}
				}
			}
			&:nth-child(2n){
				border-left: 1px solid $primary;
			}
		}
	}
	.cart-button{
		position: relative;
		.number{
			display: inline-block;
			border-radius: 50%;
			font-size: 0.6rem;
			text-align: center;
			background: white;
			color: $primary;
			width: 20px;
			line-height: 20px;
			position: absolute;
			margin: 15px 0 0 -7px;
		}
	}
}

.nav-site{
	padding-top: 10px;
	padding-bottom: 10px;
    clear: both;
	& > div{;
		display: inline-block;
	    vertical-align: middle;
	}
	.branding{
		margin: 5px 0;
	}
	.top-bar-right{
		i + span{
			display: inline-block;
			vertical-align: middle;
		}
	}
	.nav-search{
		position: relative;
		width: 19%;
		input[type="text"]{
			border: 2px solid $primary;
			width: 170px;
			margin: 0;
			float: right;
	    	transition: width .25s cubic-bezier(0.55,0,0.1,1);
			&::-webkit-input-placeholder{
			  color: $gray-light;
			}
			&::-moz-placeholder{
			  color: $gray-light;
			}
			&:-ms-input-placeholder {
			  color: $gray-light;
			}
			&:-moz-placeholder {
			  color: $gray-light;
			}
			&:focus{
				box-shadow: none;
				width: 90%;
			}
		}
		i{
			color: $primary;
			position: absolute;
			right: 0;
			right: 10px;
			top: 10px;
		}
	}
	.nav-menu{
		width: 55%;
		.main-menu{
			text-align: center;
			& > li{
				width: auto;
				display: inline-block;
				text-align: left;
				padding: 0;
				margin: 0 10px;
				& > a{
					padding-left: 0;
					padding-right: 0;
					color: #333;
				}
				&.is-dropdown-submenu-parent{
					& > a{
						padding-right: 30px;
					}
				}
			}
			.menu{
				text-align: left;
			}
		}
	}
}




.submenu{
	&.is-dropdown-submenu{
		& > li a{
			text-transform: initial;
		}
	}
}
