// SLIDER HOME


.container-gallery{
	position: relative;
	min-height: 500px;
	.parte1{
		position: absolute;
    	width: 100%;
    	z-index: -2;
    	min-height: 500px;
	}
	.orbit{
		background: white;
	}
}

.gallery-home{
	.orbit-caption {
	}
	img{
		width: 100%;
	}
	.orbit-caption.first-caption{
		color: #333;
	    right: 5%;
	    width: 729px;
	    height: auto;
	    top: 10px;
	    bottom: 0;
	    margin: auto;
	    display: table;
	    background: transparent;
	    &.second{
	    	top: 50px;
	    }
		.title-orbit{
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			font-size: 3.3em;
			text-shadow: 2px 4px 0px #DDD;
		}
		p{
			font-size: 1.5rem;
			color: #666;
			text-align: center;
			margin: 0;
		}
		h2{
			font-size: 1.5rem;
		    text-align: center;
		    font-weight: 500;
		    line-height: 1.6rem;
		}
	}
}

.orbit-previous, .orbit-next{
	color: white;
    background: #333;
    border-radius: 100%;
    font-size: 1.3em;
    padding: 0;
    width: 45px;
    height: 45px;
    text-align: center;
	line-height: 45px;
	opacity: .5;
	&:hover{
		background: $primary;
		color: white;
	}
}

.orbit-previous{
    left: 10px;
}
.orbit-next{
    right: 10px;
}

.banner-home{
    img{
        width: 100%;
    }
}



.title-index{
	color: $gray-dark;
}

.green-brand{
	color: $primary;
}

.section-index {
	padding: 2.8rem 0;
}

.features{
	background: $primary;
	background-image: url('http://www.pronamac.com/pronamac_new/themes/classic/src/home/bg-g.png');
	h2{
		color: white;
	}
	.icon-top{
		margin: 20px 0 20px 0;
	}
	.menu{
		li{
			min-height: 160px;
			& > a{
				color: white;
			}
		}
	}
	a{
		font-size: 1.4rem;
		img{
			margin: 0 auto 30px auto !important;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		&:hover{
			img{
				-webkit-transform: scale(1.1);
		        -ms-transform: scale(1.1);
		        transform: scale(1.1);
			}
		}
	}
	.align-center{
		text-align: center;
		li{
			display: inline-block !important;
			float: none !important;
		}
	}
}

.main-products{
	background: $primary;
	background-image: url('http://www.pronamac.com/pronamac_new/themes/classic/src/home/bg-g.png');
	i{
		font-size: 5rem;
		margin: .5rem 0 0;
	}
	h2, h3, a, p{
		color: white;
	}
	.expanded{
		background: white;
		color: $primary;
		&:hover{
			background:  $primary;
			color:  white;
		}
	}
}

.welcome-text{
	background: url('http://www.pronamac.com/themes/classic/src/home/bg-welcome.png') no-repeat ;
	padding: 5rem 0;
	background-size: contain;
}

.suppliers{
	.columns{
		border: $border-color;
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 119px;
		position: relative;
		img{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			display: table;
		}
	}
}
