body, html,, h1, h2, p, div, input{
	font-family: 'Roboto', sans-serif;
}

body, html{
	font-size: 15px !important;
	height: 100%;
}
body, label{
	color: $gray-medium;
}

footer{
	[type='text'], [type='password'], [type='date'], [type='datetime'],
	[type='datetime-local'], [type='month'], [type='week'], [type='email'],
	[type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
		color: white;
	}
}

button, a{
	cursor: pointer;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

:focus{
	outline: 0;
}

.row{
	max-width: 1320px;
}

.wrapper{
	position: relative;
	min-height: 100%;
	padding: 0 0 643px 0;
	@media screen and (max-width: 768px) {
		padding-bottom: 900px;
	}
	&.admin{
		padding: 0;
	}
}


.button{
	margin-bottom: 0;
	font-size: 1rem;
}

// GENERAL

.errorMessage{
	color: red;
}


// FOOTER
footer{
	padding: 2.8rem 0;
	background: $footer;
	color: white;
	position: absolute;
    width: 100%;
    bottom: 0;
	input[type="text"], textarea{
		background: none !important;
	}
	.menu{
		a{
			color: white;
			&:hover{
				color: $primary;
			}
		}
	}
	#yw0_button, #yw1_button{
		display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    width: 30px;
	    height: 30px;
	    text-indent: -96px;
	    overflow: hidden;
    	vertical-align: middle;
		&::after{
    		content: "\f021";
			margin: 0 10px;
		    font-size: 26px;
		}
	}
	.float-right{
    	margin: 10px 0 20px;
	}
}


.items {
	.box-product{
		float: left !important;
	}
}
