.wrapper-general{
	padding-top: 40px;
	& > .small-3{
		padding-right: 30px;
	}
	& > .small-9{
		padding-left: 30px;
	}
}

// catalogo
.description-product{
	margin: 0 0 40px 0;
	p{
		line-height: 1.2rem;
	}
}

// articulos
.img-statics{
	padding: 5px;
	border: $border-color;
	margin-right: 0.9375rem;
}

.table-price{
	.select-product{
		margin-top: 3px;
	}
}