// CATEGORIES

.portlet{
	.portlet-title{
		text-transform: uppercase;
	    border-bottom: 1px solid;
	    font-size: 1.4em;
	    margin: 0 0 20px 0;
		color: $primary;
	}
	.portlet-content{
		.operations{
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				padding: 0 0 10px 0;
				a{
					color: $gray-medium;
					&:hover{
						color: $primary;
					}
				}
			}
		}
	}
}

// USER LIST REGISTER

.items{
	.view{
		margin: 0 0 20px 0;
		border-bottom: $border-color;
		padding: 0 0 10px 0;
		&:last-child{
			border: 0;
			margin: 0;
			padding: 0;
		}
	}
}
