.categories{
    margin: 0 0 40px 0;
    .title-categories{
        text-transform: uppercase;
        border-bottom: 1px solid;
        font-size: 1.4em;
        margin: 0 0 20px 0;
		color: $primary;
    }
	&.menu{
		.active{
			& > a{
				background: none;
				span{
					color: $primary;
				}
			}
		}
	}
    li{
        a, a span{
            padding-left: 0;
            padding-right: 0;
            color: $gray-light;
			@extend .text-button;
        }
		a{
			&:hover{
                span{
                	color: $primary;
				}
            }
		}
    }
	&.cart{
		@extend .box-shadow;
		padding: 15px;
	}
}


.product{
    @extend .box-shadow;
	.img-product{
		height: 200px;
		overflow: hidden;
	}
    .description-product{
        padding: 0.9375rem;
		margin: 0;
        .h2-product{
            font-size: 1em;
        }
    }
}

.select-product{
    & > *{
        height: 30px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 30px;
        margin: 0;
        border: $border-color;
    }
    input{
        box-shadow: none;
        text-align: center;
    }
    .select-number{
        color: $primary;
        cursor: pointer;
        font-size: 0.8rem;
        &:hover{
            color: $gray-medium;
        }
    }
}

.tr-table-list, .tr-table{
    border-bottom: $border-color;
    padding: .5rem 0;
    &:last-child{
        margin: 0 0 1rem;
    }
}

.table-price{
    .tr-table{
        &:first-child{
            border-width: 2px;
        }
        &:last-child{
            margin: 1rem 0 0 0;
            border-top: $border-color;
        }
    }
}



.table-text{
    .tr-table{
        border-bottom: $border-color;
        padding: .5rem 0;
        div{
            &:last-child{
                border-left: $border-color;
            }
        }
    }
}

// MODAL

.reveal-overlay{
    background: rgba(0, 0, 0, 0.85);
}

.modal-page{
    width: 450px;
    .title-modal{
        font-size: 1.6em;
        background: $primary;
        color: white;
        font-weight: 400;
        text-align: center;
        margin: -1rem -1rem 2rem;
        padding: .5rem 0;
    }

    .button{
        font-size: 1.1rem;
    }

    .close-button{
        color: white;
        &:hover{
            color: rgba(255,255,255,0.6);
        }
    }

    .input-group-label:first-child {
        width: 3rem;
    }
}

.gallery-modal{
    background: none;
    border: none;
    padding: 0;
	.orbit-container {
		height: auto !important;
	}
	.close-button{
		top: 0;
		background: rgba(0,0,0,0.5);
		right: 2px;
		padding: 0 1rem .6rem;
		color: white;
        &:hover{
            color: $primary;
        }
	}
}
