//EXTENDS

.box-shadow{
	border: $border-color;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: -webkit-box-shadow 200ms ease-out;
	transition: -webkit-box-shadow 200ms ease-out;
	transition: box-shadow 200ms ease-out;
	transition: box-shadow 200ms ease-out, -webkit-box-shadow 200ms ease-out;
	&:hover{
		box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
	}
}

.button-shadow{
	box-shadow: 0 0 0 rgba(0,0,0,0.0);
	-webkit-transition: -webkit-box-shadow 200ms ease-out;
	transition: -webkit-box-shadow 200ms ease-out;
	transition: box-shadow 200ms ease-out;
	transition: box-shadow 200ms ease-out, -webkit-box-shadow 200ms ease-out, background-color 0.25s ease-out, color 0.25s ease-out;
	&:hover{
		box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	}
}

.text-button{
	transition: background-color 1000ms linear, color 0.25s ease-out;
}
