// SLIDER HOME

.gallery-home{
	.orbit-caption {
		color: #fefefe;
		right: 100px;
		width: 400px;
		height: 200px;
		top: 0;
		bottom: 0;
		margin: auto;
		display: table;
		background: white;
		border-right: 5px solid $primary;
	}
	img{
		width: 100%;
	}
}

.banner-home{
    img{
        width: 100%;
    }
}



.title-index{
	color: $gray-dark;
}

.green-brand{
	color: $primary;
}

.section-index {
	padding: 2.8rem 0;
}

.features{
	background: $primary;
	background-image: url('http://www.pronamac.com/pronamac_new/themes/classic/src/home/bg-g.png');
	h2{
		color: white;
	}
	.icon-top{
		margin: 20px 0 20px 0;
	}
	.menu{
		li{
			min-height: 160px;
			& > a{
				color: white;
			}
		}
	}
	a{
		font-size: 1.4rem;
		img{
			margin: 0 auto 30px auto !important;
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		&:hover{
			img{
				-webkit-transform: scale(1.1);
		        -ms-transform: scale(1.1);
		        transform: scale(1.1);
			}
		}
	}
	.align-center{
		text-align: center;
		li{
			display: inline-block !important;
			float: none !important;
		}
	}
}

.main-products{
	background: $primary;
	background-image: url('http://www.pronamac.com/pronamac_new/themes/classic/src/home/bg-g.png');
	i{
		font-size: 5rem;
		margin: .5rem 0 0;
	}
	h2, h3, a, p{
		color: white;
	}
	.expanded{
		background: white;
		color: $primary;
		&:hover{
			background:  $primary;
			color:  white;
		}
	}
}

.welcome-text{
	background: url('http://www.pronamac.com/themes/classic/src/home/bg-welcome.png') no-repeat ;
	padding: 5rem 0;
	background-size: contain;
}

.suppliers{
	.columns{
		border: $border-color;
		padding-top: 1rem;
		padding-bottom: 1rem;
		height: 119px;
		position: relative;
		img{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			display: table;
		}

	}
}
