@mixin border-title($color, $background){
	border-bottom: 1px solid $color;
	display: table;
	margin: 0 auto 30px;
	padding: 0 20px;
	position: relative;
	&::before{
		content: "";
		display: block;
		border-bottom: 1px solid $color;
		border-right: 1px solid $color;
		background: $background;
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		width: 12px;
		height: 12px;
		position: absolute;
		left: 49%;
		bottom: -7px;
	}

}

.m-b{
    margin-bottom: 20px;
}
.m-t-40{
    margin-top: 40px;
}

.m-l{
    margin-left: 20px;
    margin-right: 0 !important;
}

.title-green{
	color: $gray-dark;
	@include border-title($primary, white);
}

.title-white{
	@include border-title(white, $primary);
}

.green-brand{
	color: $primary;
}

.button{
	&.expanded{
		@extend .button-shadow;
	}
	&.success{
		color: white;
		@extend .button-shadow;
		&:hover, &:active, &:focus{
			color: white;
		}
	}
}

.h1-text{
    font-size: 1.6em;
    color: $gray-dark;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    &::after{
        content: "";
        border-bottom: 3px solid $primary;
        width: 10%;
        height: 1px;
        display: block;
    }
}

.h2-text{
    font-size: 1.4em;
    color: $gray-dark;
	small{
		color: $gray-medium;
		font-size: .9rem;
	}
}

.h3-text{
    font-size: 1.4em;
    color: $gray-dark;
    border-bottom: 1px solid;
}

.h3-list{
    font-size: 1.2em;
    font-weight: bold;
}

.price{
    font-weight: bold;
    color: $primary;
}

.truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.message-small{
	color: $gray-light;
	line-height: 1rem;
	margin: 10px 0 0;
}


.pager, .items{
	&::before, &::after {
		display: table;
		content: ' ';
		box-sizing: inherit;
	}
	&::after{
		clear: both;
	}
}

.pager{
    text-align: center !important;
	ul.yiiPager{
		a:link, a:visited {
		    border: solid 1px $primary;
		    font-weight: bold;
		    color: $primary;
		    padding: none;
			width: 35px;
			line-height: 35px;
			display: block;
		    text-decoration: none;
			&:hover{
				background: $primary;
				color: white;
			}
		}
		li{
			display: inline-block;
			margin: 0 5px;
			&.selected{
				a{
					background: $primary;
					color: white;
				}
			}
			&.first, &.last{
				display: none;
			}
			&.previous, &.next{
				a{
					border: none;
					font-weight: bold;
					font-size: 1rem;
				}
			}
		}
	}
}
