@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i');

@import "variables.scss";
@import "reset.scss";


body{
	font-size: 12pt;
	line-height: 16pt;
	color: #666666;
	p{
		margin: 0;
		line-height: 16pt;
	}
}


.wrapper-pdf{
	width: 21cm;
    min-height: 27.5cm;
    padding: 20px;
    margin: 40px auto 0;
	.page{
		page-break-after: always;
	}
}

.header{
	margin: 0 0 40px 0;
	.brand{
		img{
			width: 6cm;
		}
	}
}


.unstriped{
	margin: 40px 0 0;
	thead tr th{
		border-bottom: 2px solid #DDD;
		color: #555555;
	}
	tbody tr td{
		border-bottom: 1px solid #DDD;
		color: #555555;
	}
	tfoot{
		background: none;
		tr td.border{
			border-bottom: 1px solid #DDD;
			color: #555555;
			font-weight: normal;
		}
		tr td.bold{
			font-weight: bold;
			color: #555555;
		}
	}
}
