.form-general{
	[type='text'], [type='password'], [type='date'],
	[type='datetime'], [type='datetime-local'], [type='month'],
	[type='week'], [type='email'], [type='number'], [type='search'],
	[type='tel'], [type='time'], [type='url'], [type='color'], textarea{
		background: #F9F9F9;
		box-shadow: none;
		// &::-webkit-input-placeholder {
		// 	color: $gray-medium;
		// }
		// &::-moz-placeholder {
		// 	color: $gray-medium;
		// }
		// &:-ms-input-placeholder {
		// 	color: $gray-medium;
		// }
		// &:-moz-placeholder {
		// 	color: $gray-medium;
		// }
	}

	label{
		font-size: 1em;
	}
}
