$gray-light: #888;
$gray-medium: #666;
$gray-dark: #333;


$primary: #23AA58;

$footer: #2B2F3A;
$footer-bottom: #20232C;

$border-color: 1px solid #E9E9E9;


$get-path-to-assets : "/themes/classic/src";
